<<<<<<< HEAD
﻿<script src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
=======
﻿<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
>>>>>>> 3c3e96457b344ac62e25ef922fb6406f1b7b8ac1
<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-right">
    		<!-- &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> -->
		<span id="busuanzi_container_site_pv">本站总访问量		<span id="busuanzi_value_site_pv"></span>次</span>
    	</div>
    </div>
  </div>
</footer>
